<h1>Welcome to the Marvel Battle Tracker!!!</h1>
<h4>Documenting the Marvel Cinematic Universe</h4>

<% if current_user %>
    <p>User Name: <%= current_user.name %><br>
    <%= link_to "Battles", battles_path %><br>
    <%= link_to "Characters", characters_path %><br>
    <%= link_to "Movies", movies_path %><br>
    <%= link_to "Logout", session_path, method:"delete", class:"navbar-brand"%>
<% else %>  
    <%= link_to "Sign Up", new_user_path, class:"navbar-brand"%><br>
    <%= link_to "Log In", signin_path, class:"navbar-brand" %><br>
    <a href='/auth/facebook'>Login with Facebook</a>
<% end %>