<h1>Welcome to the Marvel Battle Tracker!!!</h1>
<h4>Documenting the Marvel Cinematic Universe</h4>
<br>
<%= image_tag("logo.png", :alt => "marvel logo") %>
<%= image_tag("avengers.jpg", :alt => "avengers poster") %>
<%= image_tag("Captain_America_The_Winter_Soldier.jpg", :alt => "cap 2 poster") %>
<%= image_tag("Guardians_of_the_Galaxy_poster.jpg", :alt => "Guardians_of_the_Galaxy_poster") %>
<%= image_tag("Ant-Man_poster.jpg", :alt => "ant man poster") %>
<%= image_tag("Spider-Man_Homecoming_poster", :alt => "spider man poster") %>
<%= image_tag("Thor_Ragnarok_poster", :alt => "thor 3") %>
<% if current_user %>
    <h1>User Name: <%= current_user.name %></h1><br>
    <h3><%= link_to "Battles", battles_path %></h3><br>
    <h3><%= link_to "Characters", characters_path %></h3><br>
    <h3><%= link_to "Movies", movies_path %></h3><br>
    <br>
    <%= link_to "Logout", session_path, method:"delete", class:"navbar-brand"%>
<% else %>  
    <%= link_to "Sign Up", new_user_path, class:"navbar-brand"%><br>
    <%= link_to "Log In", signin_path, class:"navbar-brand" %><br>
    <a href='/auth/facebook'>Login with Facebook</a>
<% end %>