<%= render partial: "users/errors", locals: {user: @superpower} %>

<%= form_for @superpower do |f|%>
    <p>
     <%= f.label :name %>
     <%= f.text_field :name %>
    </p>
    <br>
    <p>
     <%= f.label :character %>
     <%= collection_select(:character, :id, Character.all, :id, :name) %></p>
    </p>
    <br>
     <%= f.submit %>
 <% end %>
     