<%= render partial: "users/errors", locals: {user: @character} %>

<%= form_for @character.superpower do |f|%>
    <% binding.pry %>
    <h3>Name: <%= @character.name%></h3>
    <br>
    <h3>Superpower: </h3>
    <%= f.fields_for :superpower do |superpower| %>
        <%= superpower.label :name %>
        <%= superpower.text_field :name %>
    <% end %>
    <%= f.submit %>
<% end %>
     