<%= form_for @superpower do |f|%>
    <p>
     <%= f.label :name %>
     <%= f.text_field :name %>
     <br>
     <%= f.label :character %>
     <%= collection_select(:character, :name, Character.all, :name, :name) %></p>
    </p>
     <%= f.submit %>
 <% end %>
     