<h1>Show a movie</h1>

<p>Name: <%= @movie.name %></p>
<p>Year: <%= @movie.year %></p>
<%= @movie.poster %><br>
<%= image_tag("#{@movie.poster}") %><br>
<%= link_to "Edit Movie", edit_movie_path(@movie) %>
<br>
<%= link_to "Delete Movie", @movie, method: :delete, data: { confirm: "Really?" } %>
<br>
<%= link_to "View all Movies", movies_path %><br>