<h1>New User</h1>

<%= form_for @user do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br>
    <%= f.submit %>
    
<% end %>    

<%= form_for :user, url: '/users' do |f| %>
    Username: <%= f.text_field :name %>
    Password: <%= f.password_field :password %>
    <%= f.submit "Submit" %>
<% end %>