<% if @character.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@character.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>
    <ul>
      <% @character.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @character do |f|%>
    <p>
     <%= f.label :name %>
     <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :callsign %>
      <%= f.text_field :callsign %>
   </p>
   <p>
  <br>
  <h3>superpower</h3>
  <%= f.fields_for :superpower do |superpower| %>
    <p>
    <%= superpower.label :name %>
    <%= superpower.text_field :name %>
    </p>
  <% end %>
  <%= f.submit %>
 <% end %>
     