<%= render partial: "users/errors", locals: {user: @character} %>

<%= form_for @character do |f|%>
    <p>
     <%= f.label :name %>
     <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :alias %>
      <%= f.text_field :alias %>
    </p>
    <br>
  <h3>superpower</h3>
  <%= f.fields_for :superpower do |superpower| %>
    <p>
      <%= superpower.label :name %>
      <%= superpower.text_field :name %>
    </p>
  <% end %>
  <%= f.submit %>
 <% end %>
