<h1>Characters#index</h1>
<p>Find me in app/views/characters/index.html.erb</p>
<% binding.pry %>
<h1>List of all Characters</h1>
<br>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Callsign</th>
      <th>Superpower</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @characters.each do |character| %>
      <tr>
        <td><%= link_to character.name, character_path(character) %></td>
        <td><%= link_to character.alias, character_path(character) %></td>
        <td><% character.superpowers.each do |p|  %>
          <%= link_to p.name, character_path(character) %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "New Character", new_character_path %><br>



<h3>Tony</h3><br>
<ol>
<% @characters.tony.each do |char| %>
  <li>
    <%= char.name %>
  </li>
  <% end %>
</ol>

<h3>All the Vibranium CHaracters</h3><br>
<ol>
<% @characters.vibranium_characters.each do |char| %>
  <li>
    <%= char.name %>
  </li>
<% end %>
</ol>

<h3>All the Magic Characters</h3><br>
<ol>
<% @characters.magic_characters.each do |char| %>
  <li>
    <%= char.name %>
    </li>
  <% end %>
</ol>

<h3>All the Steves</h3><br>
<ol>
<% @characters.steves.each do |char| %>
  <li>
    <%= char.name %>
    <li>
  <% end %>
<ol>