<h1>Characters#show</h1>
<p>Find me in app/views/characters/show.html.erb</p>

<h1>Show a character</h1>

<p>Name: <%= @character.name %></p>
<p>Callsign: <%= @character.callsign %></p>
<p>Superpower: <%= @character.superpower.name %></p>
<br>
<%= link_to "Edit Character", edit_character_path(@character) %>
<br>
<%= link_to "Delete", @character, method: :delete, data: { confirm: "Really?" } %>