<% if @battle.errors.any? %>
   <div id="error_explanation">
     <h2>
       <%= pluralize(@battle.errors.count, "error") %>
       prohibited this post from being saved:
     </h2>
     <ul>
       <% @battle.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
       <% end %>
     </ul>
   </div>
 <% end %>
 
 
 <%= form_for @battle do |f|%>
   <p>
     <%= f.label :name %>
     <%= f.text_field :name %>
   </p>
   <p>
     <%= f.label :location %>
     <%= f.text_field :location %>
   </p>
 
   <h3>Movie:</h3>
   <%= f.fields_for :movie do |movie| %>
     <p>
       <%= f.label :name %>
       <%= movie.collection_select(:id, Movie.all, :id, :name) %>
       </p>
   <% end %>
   <br>
   <h3>Character:</h3>
   <%= f.fields_for :character do |character| %>
     <p>
     <%= f.label :character %>
       <%= character.collection_select(:id, Character.all, :id, :name) %>
     </p>
   <% end %>
   <br>
   <%= f.submit %>
 <% end %>
 