<%= form_for @battle do |f|%>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :location %>
    <%= f.text_field :location %>
  </p>
  <p>
    <%= f.label :movie %>
    <%= collection_select(:movie, :name, Movie.all, :name, :name) %></p>
  </p>
  <p>
  <%= f.label :character %>
    <%= collection_select(:character, :name, Character.all, :name, :name) %></p>
  </p>
  <br>
    <%= f.submit %>
<% end %>
    