<h1>Battles#index</h1>
<p>Find me in app/views/battles/index.html.erb</p>

<h1>List of all Battles</h1>
<ol>
<% @battles.each do |battle| %>
    <li>
      <%= link_to battle.name, battle_path(battle) %>
      <%= link_to battle.location, battle_path(battle) %>
      <%= link_to battle.movie.name, battle_path(battle) %>
      -
      <%= link_to battle.movie.year, battle_path(battle) %>
      <%= link_to battle.character.name, battle_path(battle) %>
    </li>
<% end %>
</ol>
<br>
<%= link_to "New Battle", new_battle_path %>