<h1>Battles#show</h1>
<p>Find me in app/views/battles/show.html.erb</p>

<h1>Show a battle</h1>

<p>Name: <%= @battle.name %></p>
<p>Location: <%= @battle.location %></p>
<p>Characters: <%= @battle.character %></p>
<p>Movie: <%= @battle.movie %></p>
<br>
<%= link_to "Edit Battle", edit_battle_path(@battle) %>
